

      @font-face{
  font-family: 'scientifica';
  src: url('fonts/scientifica.otf');
}

    body{
			   font-size: 16px;
			   font-weight: lighter;
			   font-family: "scientifica";
			   text-transform: lowercase;
			   -webkit-font-smoothing: antialiased;
    		 -moz-osx-font-smoothing: grayscale;
    		 text-rendering: optimizeLegibility;
         background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
		}
   
.blinking {
    color: white;
    animation: opacity 3s linear infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7
  }

  100% {
    opacity: 1;
  }
}







