

      @font-face{
  font-family: 'scientifica';
  src: url('fonts/scientifica.otf');
}

    body{
			   font-size: 16px;
			   font-weight: lighter;
			   font-family: "scientifica";
			   text-transform: lowercase;
			   text-align:center;
			   -webkit-font-smoothing: antialiased;
    		 -moz-osx-font-smoothing: grayscale;
    		 text-rendering: optimizeLegibility;
         background-color: black;
         padding: 25px;
         margin: 25px;
         align-content:center;
         position: fixed;
         top: 50%;
         left: 50%;
         margin-top: -100px;
         margin-left: -100px;
		}
   
.blinking {
    color: white;
    animation: opacity 3s linear infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7
  }

  100% {
    opacity: 1;
  }
}







